name: Update query.json

on:
  schedule:
    - cron: '0 0 * * *' # Runs daily at midnight UTC
  workflow_dispatch: # Allows manual triggering of the workflow

jobs:
  update-query:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      # Checkout the repository
      - name: Checkout repository (with LFS)
        uses: actions/checkout@v4.2.0
        with:
          lfs: true
          fetch-depth: 0
          persist-credentials: true

      # Set up Python
      - name: Set up Python
        uses: actions/setup-python@v4.7.1
        with:
          python-version: '3.12'

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Git LFS and track query.json
        run: |
          sudo apt-get update
          sudo apt-get install -y git-lfs
          git lfs install --local
          git lfs track "query.json"
          git add .gitattributes query.json
      
      # Run the sigma-to-deephunter.py script
      - name: Run the script
        run: python sigma-to-deephunter.py

      # Authenticate GitHub Actions bot
      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      # Pull latest changes
      - name: Pull latest changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: git pull origin main

      # Commit and push changes if query.json is updated
      - name: Commit and Push Changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update query.json"
          branch: main
          file_pattern: query.json







      - name: Commit & push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Add Git LFS tracking for query.json
          file_pattern: query.json,.gitattributes
          push_options: ""
